<div class="bg">
    <img src="/assets/icon.png" class="icon">
    <img src="/assets/menu.png" class="top-left" (click)="openSidebar()">


    <mat-card class="transparent">

        <mat-card-content class="center">

            <div class="center title">
                <img src="/assets/gestion.png" class="iorder">
                <h1 class="white f24"> Mi Bodega</h1>
            </div>

            <div class="w-100 white margin">
                <div class="center margin-top">
                    <b>Numero de cajas en bodega</b>
                    <h1>{{total}}</h1>

                </div>

                <button (click)="recibirCaja()" mat-raised-button color="white" class="blue2" rel="stylesheet">
                         Recibir
                    </button>


                <div class="d-flex">
                    <table>
                        <tr>
                            <th class="margin"> Marca </th>
                            <th class="margin"> Cantidad (cajas) </th>

                        </tr>
                        <tr class="center" *ngFor="let producto of productos">
                            <td> {{producto.nombre}}</td>
                            <td> {{producto.stock}} </td>
                        </tr>






                    </table>

                </div>

                <div class="center">
                    <button (click)="terminar()" mat-raised-button color="primary" class="naranja" rel="stylesheet"
                        href="c:\Users\USUARIO\Downloads\terminar.png">
                        <img src="/assets/terminar.png" class="img1"> Terminar Jornada
                    </button>

                </div>


            </div>

        </mat-card-content>

    </mat-card>




</div>