.bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #333, #777);
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100{
    width: 100%;
    margin: 0 auto;
    align-content: center;
}

.top-left{
    position: absolute;
    width: 30px;
    top: 15px;
    left: 15px;
    @media screen and (min-width: 650px) {
        visibility: hidden;
   }
}

.d-flex{
    display: flex;
    justify-content: center;
    padding: 30px;  
}

.img1{
    width: 15px;
    height: 14px;
}

.green{
    color: #85bb65;
}
.naranja{
    background-color: #fe8330 !important;
}

.blue2{
    background-color:  rgb(71, 71, 209) !important;
    color: white !important;
}

.title{
    position: absolute;
    display: flex ;
    top: 30px;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}



.iorder{
    width: 50px;
    padding: 8px;
}

.margin{
    padding-bottom: 20px;

}

.margin-top{
    margin-top: 100px;
}

.white{
    color: white !important;
   
}

.f24{
    font-size: 24px;
}



.center{
    text-align: center;
    

}

mat-sidenav{
    width: 210px;
    background-color: rgb(48, 47, 47);

}

.icon{
    position: absolute;
    width: 30px;
    height: 20px;
    top: 50px;
    right: 100px;
}

mat-sidenav-container{
    height: 100%;
    background-color: transparent;
}


.p-b{
    position: absolute;
    bottom: 10px;
}

.transparent{
    padding: 0px;
    background-color: transparent;
    border: 2px solid darkgray;
    backdrop-filter: blur(200px);
    border-radius: 25px;
    height: 500px;
}
