<div class="bg">
    
    <img src="/assets/icon.png" class="icon" >

     <div class="center title" >
        <img src="/assets/gestion.png" class="iorder"> 
        <h1 class="white"> Mi Bodega</h1>
     </div>

    <div class="w-100 white margin">
        <div class="center margin-top">
            <b>Numero de cajas en bodega</b>
            <h1>150</h1>
            <button (click)="Despachar()" mat-raised-button color="primary" class="blue">Despachar Cajas</button>
        </div>
       

        <div class="d-flex">
            <table>
                <tr>
                    <th class="margin"> Marca </th>
                    <th class="margin"> Cantidad (cajas) </th>
                    
                </tr>
                <tr class="center">
                    <td> Aguila </td>
                    <td> 4 </td>
                </tr>
                <tr class="center">
                    <td class="margin"> Costeña </td>
                    <td class="margin"> 6 </td>
                </tr>


                <tr class="center, green">
                    <th>Total </th>
                    <th>10</th>
                </tr>



            </table>

        </div>

        <div class="center">
            <button (click)="terminar()" mat-raised-button color="primary" class="naranja" rel="stylesheet"
                href="c:\Users\USUARIO\Downloads\terminar.png">
                <img src="/assets/terminar.png" class="img1"> Terminar Jornada
            </button>

        </div>


    </div>

   

</div>