/* Estilo para el fondo de la aplicación */
.bg {
    top: 0;
    /* Posiciona el elemento en la parte superior */
    left: 0;
    /* Posiciona el elemento a la izquierda */
    width: 100%;
    /* El ancho ocupa el 100% del contenedor */
    height: 100%;
    /* La altura ocupa el 100% del contenedor */
    background-image: linear-gradient(to right, #333, #777);
    /* Fondo con un degradado de gris oscuro a gris claro */
    display: flex;
    /* Usa Flexbox para organizar su contenido */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
}

/* Estilo para un contenedor que ocupa el 100% de ancho */
.w-100 {
    width: 100%;
    /* Ancho del contenedor al 100% */
    margin: 0 auto;
    /* Centra el contenedor automáticamente */
    align-content: center;
    /* Alinea el contenido al centro */
    display: block;
    /* Establece el modo de visualización como bloque */
}

/* Estilo para un elemento en la parte superior izquierda */
.top-left {
    position: absolute;
    /* Posiciona el elemento de forma absoluta */
    width: 30px;
    /* Ancho del elemento */
    top: 15px;
    /* Distancia desde la parte superior */
    left: 15px;
    /* Distancia desde la izquierda */

    /* Media query para ocultar el elemento en pantallas más anchas */
    @media screen and (min-width: 650px) {
        visibility: hidden;
        /* Oculta el elemento en pantallas de 650px o más */
    }
}

/* Estilo para un contenedor flexible */
.d-flex {
    display: flex;
    /* Usa Flexbox para organizar su contenido */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    padding: 30px;
    /* Añade un relleno de 30px */
}

  /* Clase para posicionar un ícono */
  .osicn {
    position: absolute;
    /* Posiciona el ícono de manera absoluta en relación a su contenedor */
    width: 30px;
    height: 20px;
    top: 50px;
    /* Se posiciona a 50px desde la parte superior */
    right: 100px;
    /* Se posiciona a 100px desde la derecha */
    @media screen and (max-width: 750px) {
        top: 20px;
            right: 30px;
      }
  }
  
  .oicon-text {
    position: absolute;
    width: 100px;
    height: 20px;
    top: 50px;
    right: 130px;
    font-weight: bold;
    color: white;
    text-align: right;
    z-index: 10;
  
    @media screen and (max-width: 750px) {
        top: 20px;
            right: 60px;
      }
  }

/* Estilo para una imagen con un tamaño específico */
.img1 {
    width: 15px;
    /* Ancho de la imagen */
    height: 14px;
    /* Altura de la imagen */
}

/* Estilo para indicar que el cursor debe cambiar al pasar por encima */
.cursor {
    cursor: pointer;
    /* Cambia el cursor a un puntero */
}

/* Estilo de texto en color verde */
.green {
    color: #85bb65;
    /* Establece el color de texto a un tono verde */
}

/* Estilo para un fondo naranja */
.naranja {
    background-color: #fe8330 !important;
    /* Establece un fondo naranja, usando !important para priorizarlo */
}

/* Estilo de texto en color azul */
.blue2 {
    color: rgb(71, 71, 209);
    /* Establece el color de texto a un tono azul */
}

/* Estilo para un título centrado */
.title {
    position: absolute;
    /* Posiciona el título de forma absoluta */
    display: flex;
    /* Usa Flexbox para organizar su contenido */
    top: 50px;
    /* Distancia desde la parte superior */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    left: 50%;
    /* Coloca el elemento en el medio horizontal */
    transform: translateX(-50%);
    /* Ajusta la posición para centrar el elemento */
    align-items: center;
    /* Centra verticalmente el contenido */
}

/* Estilo para un contenedor transparente */
.transparent {
    padding: 0px;
    /* Sin relleno */
    background-color: transparent;
    /* Fondo transparente */
    border: 2px solid darkgray;
    /* Borde gris oscuro */
    backdrop-filter: blur(200px);
    /* Efecto de desenfoque en el fondo */
    border-radius: 25px;
    /* Bordes redondeados */
    height: 500px;
    /* Altura fija */
}

/* Estilo para el contenido centrado */
.content {
    display: flex !important;
    /* Usa Flexbox, !important para priorizarlo */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    height: 100%;
    /* Altura ocupa el 100% del contenedor padre */
}

/* Estilo para elementos de orden */
.iorder {
    width: 50px;
    /* Ancho de los elementos de orden */
    padding: 8px;
    /* Añade un relleno de 8px */
}

/* Estilo para celdas de tabla */
.td,
th {
    padding: 20px;
    /* Relleno de 20px en celdas y encabezados de tabla */
}

/* Estilo de texto en color blanco */
.white {
    color: white;
    /* Establece el color de texto a blanco */
}

/* Estilo de texto en color púrpura */
.purple {
    color: #551A8B;
    /* Establece el color de texto a un tono púrpura */
}

/* Estilo para el tamaño de fuente */
.fzise {
    font-size: 14px;
    /* Establece el tamaño de la fuente a 14px */
}

/* Estilo para márgenes superiores */
.margin {
    margin-top: 30px;
    /* Añade un margen superior de 30px */
}

/* Estilo para centrar el texto */
.center {
    text-align: center;
    /* Centra el texto dentro del elemento */
}

/* Estilo para la barra lateral */
mat-sidenav {
    width: 210px;
    /* Ancho de la barra lateral */
    background-color: rgb(48, 47, 47);
    /* Color de fondo de la barra lateral */
}

/* Estilo para un icono en la parte superior derecha */
.icon {
    position: absolute;
    /* Posiciona el icono de forma absoluta */
    width: 30px;
    /* Ancho del icono */
    height: 20px;
    /* Altura del icono */
    top: 50px;
    /* Distancia desde la parte superior */
    right: 100px;
    /* Distancia desde la derecha */
}

/* Estilo para el contenedor de la barra lateral */
mat-sidenav-container {
    height: 100%;
    /* Altura del contenedor ocupa el 100% */
    background-color: transparent;
    /* Fondo transparente */
}

/* Estilo para posicionar elementos en la parte inferior */
.p-b {
    position: absolute;
    /* Posiciona el elemento de forma absoluta */
    bottom: 10px;
    /* Distancia desde la parte inferior */
}