<div class="bg">
    <!-- Div principal con clase para el fondo -->
    <span class="vicon-text">{{user4.nombre}}</span><img src="/assets/icon.png" class="vsicn">
    <!-- Imagen de icono principal con clase 'icon' -->
    <img src="/assets/menu.png" class="top-left" (click)="openSidebar()"> <!-- Imagen para el menú superior izquierdo con un evento de clic para abrir una barra lateral -->

    <div class="center title">
        <!-- Encabezado centrado con clase 'title' -->
        <img src="/assets/pedidos.png" class="vorder">
        <!-- Imagen con clase 'vorder' -->
        <h1 class="white">Pedidos</h1>
        <!-- Título H1 con clase 'white' -->
    </div>
    
    <div class="w-100 white">
        <!-- Div de ancho completo con clase 'white' -->
        <h2 class="vd-flex">Detalles (La Primavera)</h2>
        <!-- Subtítulo H2 con clase 'vd-flex' -->
        <div class="vd-flex">
            <!-- Div con diseño flexbox con clase 'vd-flex' -->
            <table>
                <!-- Tabla para mostrar los datos -->
                <tr>
                    <th>Marca</th>
                    <th>Cantidad (cajas)</th>
                    <th>Total</th>
                </tr>

                <tr *ngFor="let marca of productos">
                    <td>{{marca.nombre}}</td>
                    <td>
                        <mat-form-field class="w-50">
                            <input matInput class="w-50" type="number" max="{{marca.total_parcial}}" [(ngModel)]="marca.quantity">
                        </mat-form-field>
                    </td>
                    <td>{{marca.total_parcial}}</td>
                </tr>
                <!-- Encabezados de columna para la tabla -->
                <tr class="center">
                    <td>Aguila</td>
                    <td>4</td>
                    <td>$240.000</td>
                </tr>
                <!-- Fila de datos para la marca Aguila -->
                <tr class="center">
                    <td>Butweiserx</td>
                    <td>6</td>
                    <td>$360.000</td>
                </tr>
                <!-- Fila de datos para la marca Butweiserx -->
                <tr class="center, green">
                    <th>Total</th>
                    <th>10</th>
                    <th>$600.000</th>
                </tr>
                <!-- Fila de total con clase 'green' para estilizar -->
            </table>
        </div>
    </div>
</div>
