
<div class="bg">
    
    <img src="/assets/icon.png" class="icon" >

     <div class="center title">
        <img src="/assets/pedidos.png" class="vorder"> 
        <h1 class="white">Pedidos</h1>

     </div>
     
        
    
    <div class="w-100 white">

        <h2 class="vd-flex">Detalles (La Primavera)</h2>

        <div class="vd-flex">
            <table>
                <tr>
                    <th> Marca </th>
                    <th> Cantidad (cajas) </th>
                    <th> Total </th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                </tr>
                <tr class="center">
                    <td> Aguila </td>
                    <td> 4 </td>
                    <td>$240.000</td>
                    
                </tr>
                <tr class="center">
                    <td> Butweiserx </td>
                    <td> 6 </td>
                    <td>$360.000</td>
                    
                </tr> 


                <tr class="center, green">
                    <th>Total </th>
                    <th>10</th>
                    <th>$600.000</th>
                </tr>

                

                


            </table>

        </div>

    </div>

   

</div>