<div class="br">

    <img src="/assets/icon.png" class="icn">

    <div class="center stitle">
        <img src="/assets/setting.png" class="sorder">
        <h1 class="swhite">Configuraciones</h1>
    </div>
    <div class="block">
        <div class="center title">
            <h1 class="swhite fsize">Nombre de Bodega</h1>
        </div>


        <mat-form-field>

            <mat-label>Bodega</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <div class="center">

        </div>

        <div class="center">
            <button (click)="crear()" mat-raised-button color="primary" class="sazul" rel="stylesheet"
                href="c:\Users\USUARIO\Downloads\guardar.png">
                <img src="/assets/nuevo.png" class="simg1"> Crear Usuario
            </button>

            <div class="s-flex">
                <table>
                    <tr>
                        <th>Estado</th>
                        <th> Cliente </th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Accion</th>
                    </tr>



                    <tr *ngFor="let usuario of usuarios" class="center swhite checkbox">

                        <div>
                            <input type="checkbox">
                        </div>

                        <td> {{usuario.nombre}} </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <img src="/assets/edit.png" class="s-img" (click)="editar(usuario)">
                        <img src="/assets/trash.png" class="s-img" (click)="eliminar(usuario)">

                    </tr>


                </table>



            </div>

            <div class="center">
                <button (click)="guardar()" mat-raised-button color="primary" class="snaranja" rel="stylesheet"
                    href="c:\Users\USUARIO\Downloads\guardar.png">
                    <img src="/assets/guardar.png" class="simg1"> Guardar
                </button>

            </div>



        </div>

    </div>