<div class="br"> <!-- Contenedor principal con fondo y estilos definidos por la clase .br -->

    <img src="/assets/menu.png" class="stop-left" (click)="openSidebar()">

    <span *ngIf="shouldShowUserName" class="sicon-text">{{user5.nombre}}</span><img src="/assets/icon.png"
        class="ssicn"> <!-- Icono superior derecho -->

    <div class="center stitle"> <!-- Contenedor centrado para el título -->
        <img src="/assets/setting.png" class="sorder"> <!-- Icono de configuración -->
        <h1 class="swhite">Configuraciones</h1> <!-- Título principal de la sección -->
    </div>

    <div class="block"> <!-- Contenedor para el contenido de configuración -->
        <div class="center title"> <!-- Contenedor centrado para el subtítulo -->
            <h1 class="swhite fsize">Nombre de Bodega</h1> <!-- Subtítulo de la sección -->
        </div>

        <mat-form-field> <!-- Campo de entrada de Material Angular -->
            <mat-label>Bodega</mat-label> <!-- Etiqueta para el campo de entrada -->
            <input type="text" matInput> <!-- Campo de entrada de texto -->
        </mat-form-field>

        <div class="center"> <!-- Contenedor vacío centrado, podría ser utilizado para algún propósito futuro -->
        </div>

        <div class="center-div"> <!-- Contenedor centrado para los botones y la tabla -->
            <button (click)="crear()" mat-raised-button color="primary" class="sazul" rel="stylesheet"
                href="c:\Users\USUARIO\Downloads\guardar.png"> <!-- Botón para crear un usuario -->
                <img src="/assets/nuevo.png" class="simg1"> Crear Usuario <!-- Icono de nuevo usuario -->
            </button>

            <div class="s-flex" style="max-height: 200px; overflow: auto; width: 400px;">
                <!-- Contenedor flexible para la tabla -->
                <table> <!-- Tabla para mostrar usuarios -->
                    <tr> <!-- Fila de encabezado de la tabla -->
                        <th>Estado</th> <!-- Encabezado para el estado -->
                        <th> Cliente </th> <!-- Encabezado para el cliente -->
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> <!-- Espaciador -->
                        <th>Accion</th> <!-- Encabezado para acciones -->
                    </tr>

                    <!-- Fila de usuario que se repite para cada usuario en el array 'usuarios' -->
                    <tr *ngFor="let usuario of usuarios" class="center swhite checkbox">
                        <div>
                            <input type="checkbox"> <!-- Casilla de verificación para seleccionar al usuario -->
                        </div>
                        <td> {{usuario.nombre}} </td> <!-- Nombre del usuario dinámico -->
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> <!-- Espaciador -->
                        <img src="/assets/edit.png" class="s-img" (click)="editar(usuario)">
                        <!-- Icono para editar, llama a la función editar() -->
                        <img src="/assets/trash.png" class="s-img" (click)="eliminar(usuario)">
                        <!-- Icono para eliminar, llama a la función eliminar() -->
                    </tr>

                </table>

            </div>


            <div class="scenter"> <!-- Div centrado -->
                <button (click)="terminar()" mat-raised-button color="primary" class="snaranja" rel="stylesheet">
                    <!-- Botón para terminar jornada con evento de clic -->
                    <img src="/assets/terminar.png" class="simg1"> <!-- Imagen en el botón -->


                    Terminar Jornada
                </button>

            </div>



        </div> <!-- Fin del contenedor centrado -->
    </div> <!-- Fin del bloque de contenido -->
</div> <!-- Fin del contenedor principal -->