p{
  margin: 1rem 0px;
}

.blacked{
  color: black !important;
}

.whited{
  white-space: pre-line;
}

.dialog{
  width: 14cm;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .dialog{
    width: 8cm;
    text-align: center;
  }
}

.dialog-mini{
  width: 6cm;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .dialog-mini{
    width: 6cm;
    text-align: center;
  }
}



.green{
  background-color: #6add8e;
}

.bpink{
  color: red !important;
}

.ublue{
  background-color: #3b37f3 !important;
  color: aliceblue;
}



.utransparent{
  padding: 0px;
  background-color: transparent;
  border: 2px solid darkgray;
  backdrop-filter: blur(200px);
  border-radius: 4px;
  height: 500px;
 
}

.ucenter{
  text-align: center;
  margin-top: 50px;
  
}

.umini{
  margin: 10px;
  height: 70px;
  .mdc-text-field{
      align-items: center !important;
  } 
  
}

.center-button{
  padding: 10px,20px;
  font-size: 16px;
  text-align: center;

}

p-user{
  padding: 20px;
}

.umessage{
  font-size: 10px;
}