/* Clase para un fondo de pantalla completo */
.bg {
    width: 100%;
    /* Ocupa todo el ancho de la pantalla */
    height: 100%;
    /* Ocupa todo el alto de la pantalla */
    position: fixed;
    /* Fija la posición del fondo */
    top: 0;
    left: 0;
    display: flex;
    /* Uso de flexbox para alinear el contenido */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    background-image: url("/assets/fondo.jpeg");
    /* Imagen de fondo */
    background-size: cover;
    /* Asegura que la imagen cubra todo el área */
}

.scroll{
    overflow: auto;
    height: 350px;
}

/* Clase para un contenedor con gradiente de fondo */
.hbr {
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa todo el ancho */
    height: 100%;
    /* Ocupa todo el alto */
    background-image: linear-gradient(to right, #333, #777);
    /* Gradiente de izquierda a derecha */
    display: flex;
    /* Flexbox para centrar el contenido */
    justify-content: center;
    /* Centrado horizontal */
    align-items: center;
    /* Centrado vertical */
}

/* Clase para centrar contenido horizontalmente dentro de un contenedor */
.hs-100 {
    width: 100%;
    /* Ocupa todo el ancho */
    margin: 0 auto;
    /* Centrado horizontal */
    align-content: center;
    /* Centrado vertical */
}

/* Clase para posicionar un ícono */
.hsicn {
    position: absolute;
    /* Posiciona el ícono de manera absoluta en relación a su contenedor */
    width: 30px;
    height: 20px;
    top: 50px;
    /* Se posiciona a 50px desde la parte superior */
    right: 100px;
    /* Se posiciona a 100px desde la derecha */
    @media screen and (max-width: 750px) {
        top: 20px;
            right: 30px;
      }
}

.hicon-text {
    position: absolute;
    width: 100px;
    height: 20px;
    top: 50px;
    right: 130px;
    font-weight: bold;
    color: white;
    text-align: right;
    z-index: 10;

    @media screen and (max-width: 750px) {
        top: 20px;
            right: 60px;
      }
}

/* Clase para centrar un título */
.hstitle {
    position: absolute;
    /* Posiciona el título de manera absoluta */
    display: flex;
    /* Flexbox para facilitar la alineación */
    top: 50px;
    /* Posicionado a 50px desde arriba */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    left: 50%;
    /* Se mueve al 50% del ancho de la pantalla */
    transform: translateX(-50%);
    /* Corrige el desplazamiento para que esté perfectamente centrado */
    align-items: center;
    /* Centra verticalmente */
    
}

/* Clase para definir el ancho y el espaciado de un contenedor */
.hsorder {
    width: 50px;
    /* Ancho del contenedor */
    padding: 8px;
    /* Relleno interno de 8px */
}

/* Clase para aplicar color blanco al texto */
.hswhite {
    color: white;
}

/* Clase para el tamaño de fuente */
.hssize {
    font-size: 15px;
    /* Tamaño de fuente de 15px */
}

/* Clase para alinear texto al centro */
.hscenter {
    text-align: center;
    /* Alineación centrada */
}

/* Clase para un contenedor flexible y centrado */
.hs-flex {
    display: flex;
    /* Usa flexbox */
    justify-content: center;
    /* Centrado horizontal */
    padding: 30px;
    /* Relleno de 30px */
}

.htop-left{
    position: absolute;
    width: 30px;
    top: 15px;
    left: 15px;
    @media screen and (min-width: 650px) {
        visibility: hidden;
   }
}


/* Repetición de las clases .hbr, .h-100, .hicn, .htitle, .horder, .hwhite, .hsize, .hcenter, .h-flex */
/* Estas clases parecen duplicadas, pero con el prefijo 'h' en lugar de 'hs'. Tienen las mismas funcionalidades, pero estan destinadas a diferentes secciones del diseño */

/* Clase para hacer el fondo transparente y aplicar un filtro de desenfoque */
.transparent {
    padding: 0px;
    /* Sin relleno interno */
    background-color: transparent;
    /* Fondo transparente */
    border: 2px solid darkgray;
    /* Borde sólido de 2px y color gris oscuro */
    backdrop-filter: blur(200px);
    /* Filtro de desenfoque aplicado al fondo */
    border-radius: 25px;
    /* Bordes redondeados */
    height: 500px;
    /* Altura fija de 500px */
}

/* Clase para centrar contenido tanto vertical como horizontalmente */
.center {
    display: flex;
    /* Uso de flexbox */
    justify-content: center;
    /* Centrado horizontal */
    align-items: end;
    /* Centrado vertical */
    height: 100%;
    /* Ocupa todo el alto del contenedor padre */
}

mat-sidenav{
    width: 210px;
    background-color: rgb(48, 47, 47);

}

/* Estilos para las celdas de tabla (<td>) */
td {
    padding: 10px;
    /* Relleno interno de 10px en las celdas */
}