<div class="hbr">

    <img src="/assets/icon.png" class="hicn">

    <div class="center htitle">
       <img src="/assets/historial.png" class="horder"> 
       <h1 class="hwhite"> Historial </h1>
    </div>
    
        <div class="h-100">
            
            <div class="h-flex">
                <table>
                    <tr>
                        <th> Pedido </th>
                        <th>Cantidad(cajas)</th>
                        <th>Fecha Y Hora</th>
                    </tr>
                    <tr class="hcenter hwhite">
                        <td> Aguila </td>
                        <td>2 </td>
                        <td>12/06/2024 05:57pm</td>
                    </tr>
                    <tr class="hcenter hwhite">
                        <td> Costeña </td>
                        <td>3</td>
                        <td>12/06/2024 06:15pm</td>
                    </tr>
    
    
                    <tr class="hcenter, green">
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                        <th></th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
    
    
    
                </table>
    
            </div>
    

        </div>
        
       
    </div>