body{
    padding: 0px;
    margin: 0px;
}
.blue{
    background-color: rgb(11, 112, 194) !important;
}

.dark{
    background-color: rgb(73, 71, 71);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
